<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>MyStock</title>
</head>
<body>
    <% if (logado) { %>
        <%- include('navbar-logado') %>
    <% } else { %>
        <%- include('navbar') %>
    <% } %>

    <div class="container">
        <% if(sucesso_login) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= sucesso_login %>
                </p>
            </div>
        <% } %>
        <% if(logout) { %>
            <div class="alert alert-danger mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= logout %>
                </p>
            </div>
        <% } %>
        <div class="center">
            <img src="imagens\man.png" alt="">
            <h2 class=""> Organize seu estoque de forma fácil e objetiva! </h2>
            <a class="fw-bold" aria-current="page" href="/estoques" style="color: black;">
                <button type="submit" class="btn btn-primary mt-4" style="background-color: black; border-color: black;">Começar</button>
            </a>
        </div>
    </div>
</body>
</html>